<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="top">
      <br>
      <p>Join Aira Travels and save upto 20% by booking now! New users use code TRAVEL for extra discount at the time of checkout.</p>
    </div>
      <div class="the-title">
          <p>Aira Travels</p>
      </div>
      <nav>
          <div class="nav-links">
              <ul>
                <li><a href="Flights">Flights</a></li>
                <li><a href="">Hotels</a></li>
                <li><a href="sign-in.html"><button class="bluei">Sign in</button></a></li>
              </ul>
              <hr size="2px" color="black">
          </div>
      </nav>
  </body>
</html>
