<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aira Travels</title>
    <link rel="stylesheet" href="Home_page_style.css">
</head>
<body>
    <div class="the-title">
        <p>Aira Travels</p>
    </div>
    <nav>
        <div class="nav-links ex ">
            <ul>
              <li><a href="">Flights</a></li>
              <li><a href="" >Hotels</a></li>
              <li><a href="sign-in.html" ><button class="bluei ">Sign in</button></a></li>

            </ul>
            <hr size="2px" color="black">
        </div>
    </nav>

    <div class = "PI" style="position: absolute;">
        <br>
        <div class="heading">
         <u>Passenger information</u>
        </div>
        <br><br>
        <div> Enter the required information of each traveler and be sure that it exactly matches<br> the government-issued ID presented at the airport.</div>
        <br><br>
        <div style="color: #605DEC; font-size: 18px;"> <b><u>Passenger 1(Adult) </u></b></div>
      <br><br>
     <div class="container">
        <input type="text" placeholder="Enter Name" name="uname" required>
        <input type="text" placeholder="Middle Name" name="uname" required>
        <input type="text" placeholder="Last Name" name="uname" required>
        <br><br>
        <div class = "imagee">
            <img src="C:\Users\dell\OneDrive\Pictures\Screenshots\Screenshot (554).png">
         </div>
        <input type="text" placeholder="Last Name" name="uname" required>
        <input type="text" placeholder="DOB" name="uname" required>
        <br><br>
        <input type="text" placeholder="gmail id" name="uname" required>
        <input type="text" placeholder="contact no." name="uname" required>
      </div>
      <br><br>
      <input type="checkbox" checked="checked" name="remember"> Same as passenger 1
      <br><br>
      <input type="text" placeholder="Username" name="uname" required>
      <input type="text" placeholder="Last name" name="uname" required>
      <br><br>
      <input type="text" placeholder="contact no." name="uname" required>
      <br><br><br>
      <p style="color: #605DEC; font-size: 18px;"><u><b>Bag information</b></u></p>
      <br>
      <p>Each passenger is allowed one free carry-on bag and one personal item. <br>First checked bag for each is also free. Second bag check fees are waived for loyalty program members. </p>
      <br>
      <label for = "bags">bags: </label>
      <input type = "number" min = "1" value = "1" id = "children">
      <br><br><br>
      <a href="payment.html"><button class="search">Select seats</button></a>
    </div>

</body>
</html>
