<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aira Travels</title>
    <link rel="stylesheet" href="Home_page_style.css">
</head>
<body>
    <div class="the-title">
        <p>Aira Travels</p>
    </div>
    <nav>
        <div class="nav-links ex ">
            <ul>

              <li><a href="">Flights</a></li>
              <li><a href="" >Hotels</a></li>
              <li><a href="sign-in.html" ><button class="bluei ">Sign in</button></a></li>

            </ul>
            <hr size="2px" color="black">
        </div>
    </nav>

    <div class = "PI" style="position: absolute;">
        <br>
        <div class="heading">
         <u>Payment method</u>
        </div>
        <br><br>
        <div>  Select the payment method</div>
        <br>
        <table>
            <tr>
              <th>PayTm</th>
              <th>Credit card</th>
              <th>Upi</th>
            </tr>
        </table>
        <br><br>
        <div class = "pay"> </div>
        <br><br>
        <p style="color: #605DEC; font-size: 18px;"><b><u>Credit Card Details</u></b></p>
      <br>
      <input type="checkbox" checked="checked" name="remember"> Billing address is same as passenger 1
      <br><br>

        <input type="text" style="position: absolute; width: 100%; height: 40px;" placeholder="Name on card" name="uname" required>
        <br><br><br><br>
        <input type="text" style="position: absolute; width: 100%; height: 40px;" placeholder="Card Number" name="uname" required>
        <br><br><br><br>
        <input type="text" style="position: absolute; width: 50%; height: 40px;" placeholder="Expiration date" name="uname" required>
        <input type="text" style="position: absolute; width: 40%; height: 40px; margin-left: 60%;" placeholder="CVV" name="uname" required>
        <br><br><br><br><br>
        <p style="color: #605DEC; font-size: 18px;"><b><u>Create an account</u></b></p>
        <br>
        <p> Aira travels is free to use as a guest, but if you create an account today, you can save and view flights,<br>manage your trips and many more!</p>
        <br><br>
        <input type="checkbox" checked="checked" name="remember"> Save card and create account for later
        <br><br>
        <input type="text" style="position: absolute; width: 50%; height: 40px;" placeholder="Email address or phone no." name="uname" required>
        <br><br><br><br>
        <input type="text" style="position: absolute; width: 50%; height: 40px;" placeholder="Password" name="uname" required>
    </div>
</body>
</html>
